@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');

html{
	background-color:#cccccc;
}
body{
	width:960px;
	margin:0 auto;
	text-align:center;
	background-color:#ffffff;
}
header{
	font-family: 'Sacramento', sans-serif;
}
footer{
	background-color:#aaaaaa;
}

#annotation{
	width:75%;
}
